doctype html
html
	head
		title Time Trakr - The tiny time tracking productivity app that doesn't get in your way

		meta(name='description', content='Time Trakr helps you improve your productivity by showing you how much time you waste on tasks, so you can learn from it, and improve')

		link(href='site.css',rel='stylesheet')
		script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')

	body
		
		block body

		include googleAnalytics