extends layout

block body

	div.container(style='margin-bottom:250px')
		div.content
			h1 Time Trakr
			h2 The time tracking app that doesn't get in your way.

			span(style='color:Black').
				For full support of any kind, please feel free to contact me at :<br/> gillyb [at] gmail [dot] com

		div.screenshot
			img(src='screenshot.png')
